<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Add Item
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form [formGroup]="todo" (ngSubmit)="logForm(todo)">
      <ion-item>
        <ion-label position="floating">Add Item</ion-label>
        <ion-input type="text" formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">No Of Days</ion-label>
        <ion-input formControlName="number" type = "number"></ion-input>
      </ion-item>
      <!-- <ion-title ion-button type="submit" [disabled]="!todo.valid">What's Your Today's Food</ion-title> -->
      <ion-button type="submit" [disabled]="!todo.valid">Submit</ion-button>
    </form>
</ion-content>
